#authContent{
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
}

/* PÁGINA DE AUTENTICAÇÃO */
#signin-content{
    box-shadow: 1px 1px 3px 1px #000;
    width: 30rem;
    background-color: #2F3E46;
    width: 50%;
    height: 100vh;
}
#signin-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#entrar-text{
    text-align: center;
    color: #e8e8e9;
    padding-bottom: 3rem;
}
#entrar-text h1{
    font-size: 3rem;
}
#entrar-text p{
    font-size: 1.5rem;
}

form{
    padding: 1rem;
    display: flex;
    width: 40%;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
}
input{
    background-color: #e8e8e9;
    padding: 1rem;
    border: 0;
    outline: 0;
    border-radius: 12px;

}
#sign-in > p{
    
    color: #e8e8e9;
}
#sign-in a{
    color: #848485;
    font-size: .7rem;
    text-align: right;
}

#sign-in > button{
    padding: 1rem;
    background-color: #52B788;
    color: #FFFFFF;
    border-radius: 1.4rem;
    cursor: pointer;
    font-size: 1.2rem;
}

#img-desc{
    width: 50%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('../media/bdr.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}