#authContent{
    display: flex;
    margin: 1rem;
    height: 50vh;
    width: 100%;
}
#signin-content{
    margin: auto;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 1px 1px 3px 1px #000;
    width: 30rem;
    background-color: #F8F9FA;
}
#signin-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
}
input{
    background-color: #e8e8e9;
    padding: 1rem;
    border: 0;
    outline: 0;
    border-radius: 12px;

}
#entrar-text{
    text-align: center;
    padding-bottom: 2rem;
}