#messages{
    background-color: #F8F9FA;
    height: 100vh;
    width: 50%;
    margin: 2rem auto;
    padding: 2rem;
}
#msg-options{
    display: flex;
    gap: 1rem;
    
}
.msg-opt{
    border: 1px solid #1C1C1C;
    padding: .6rem;
    cursor: pointer;
    margin-bottom: .5rem;
}
#users-msg{
    width: 20rem;
    height: 80vh;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}
#user-photo{
    border-radius: 100%;
}
#talking-user{
    display: flex;
    align-items: center;
    border: 1px solid #1C1C1C;
    gap: 1rem;
    cursor: pointer;
}
#talking-date{
    font-size: .7rem;
    color: #ccc;
    align-self: flex-start;
    padding-top: .4rem;
}
/* Tablets */
@media (max-width:768px){
    #messages{
        width: 100%;
    }
}