#ad-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    gap: 0;
}
.ad-nav-item{
    padding: 1rem;
    border-right: 1px solid #ccc;
    width: 100%;
    border-top-right-radius: 120rem;
    border-left: 0;
    border-bottom-right-radius: 120rem;
    font-size: 1.5rem;
    color: #ccc;
}

.ad-nav-item:nth-child(1){
    background-color: #1c1c1c;
}
