*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header{
    width: 100%;
    background-color: #2D6A4F;
    display: flex;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
ul{
    display: flex;
    gap: 12px;
}
li{
    list-style: none;
    font-size: 1.5em;
}