*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header{
    width: 100%;
    background-color: #2D6A4F;
    display: flex;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
}