@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins','Courier New', Courier, monospace;
}


/* Header */
header{
    width: 100%;
    background-color: #2F3E46;
    display: flex;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
ul{
    display: flex;
    gap: 12px;
    padding-right: 3rem;
}
li{
    list-style: none;
    font-size: 1.5em;
    
}
a{
    text-decoration: none;
    color: #F8F9FA;
}
a:visited{
    text-decoration: none;
}
#nav-list a:hover{
    opacity: .8;
}
#nav-list button{
    width: 4.5rem;
    padding: .5rem;
    border-radius: 12px;
    border: 0;
    color: #FFFFFF;
    background-color: #52B788;
    font-size: 1rem;
}
/* Landing Page */

#landing-img{
    height: 89.9vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('../media/rrbg.webp');
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#landing-img-text{
    position: relative;
    bottom: 40rem;
    text-align: center;
    color: #F8F9FA;
}
#landing-img-text > h1{
    font-size: 3rem;
}
#landing-img-text > p{
    font-size: 1.5rem;
}

#landing-img-text button{
    margin-top: 3rem;
    width: 9rem;
    padding: .8rem;
    outline: 0;
}

/* FOOTER */
footer{
    background-color: #2F3E46;
    height: 15rem;
}